@import "colors.less";
@import "fonts.less";

.about_main {
    .collection_section {
        width: 100%;
        float: left;
        margin-top: 40px;

        .container {
            .new_text {
                width: 100%;
                float: left;
                .font-style(22px, @font-weight-bold, @font-primary);
                color: rgba(12, 12, 12, 1);
            }
            .consectetur_text {
                width: 100%;
                float: left;
                .font-style(12px, @font-weight-regular, @font-primary);
                color: rgba(12, 12, 12, 1);
                margin-left: 0px;
                padding-bottom: 10px;
            }
        }
    }
}